<br />
<form class="login-form margin-12">
  <div class="field is grouped">
    <p class="has-text-weight-medium has-text-black is-italic">Please Login
      Below:</p>
    <br />
    <label for="user-login">Username:</label>
    <input
      type="text"
      id="user-login"
      class="input is-focused is-success"
      placeholder="Enter Username"
    />
  </div>
  <div>
    <label for="password-login">Password:</label>
    <input
      type="password"
      id="password-login"
      class="input is-focused is-success"
      placeholder="Enter Password"
    />
  </div>
  <br />
  <div>
    <button type="submit" class="button is-success is-small">Login</button>
  </div>
</form>

<br />

<form class="signup-form margin-12">
  <div>
    <p class="has-text-weight-medium has-text-black is-italic">No Login? No
      Problem! Sign Up Below:</p>
    <br />
    <label for="user-signup">Username:</label>
    <input
      type="text"
      id="user-signup"
      class="input is-focused is-success"
      placeholder="Create Username"
    />
  </div>
  <br />
  <div>
    <label for="password-signup">Password:</label>
    <input
      type="password"
      id="password-signup"
      class="input is-focused is-success"
      placeholder="Create Password"
    />
  </div>
  <br />
  <div>
    <button type="submit" class="button is-success is-small">Sign-up</button>
  </div>
</form>
<br />
<br />

<script src="/public/javascript/login.js"></script>