<form class="signup-form">
  <div>
    <label for="username-signup">Enter Username:</label>
    <input type="text" id="username-signup" />
  </div>
  <div>
    <label for="password-signup">Enter Password:</label>
    <input type="password" id="password-signup" />
  </div>
  <div>
    <button type="submit" class="black-button">Sign-Up</button>
  </div>
</form>

<script src="/public/js/signup.js"></script>